# General
WEB_APP_URL="http://localhost:3000"
BACKEND_APP_URL="http://localhost:35000"
PORT=35000
# Mongo
MONGO_URL="mongodb://localhost:27017/myDatabase"
# AWS
AWS_BUCKET_NAME="my-bucket"
AWS_BUCKET_REGION="us-east-1"
AWS_ACCESS_KEY="my-access-key"
AWS_SECRET_KEY="my-secret-key"
